.dropdown {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: $primary-color;
  top: -1000px;
  height: 100%;
  color: white;
  z-index: 3;

  &__wrapper {
    margin-left: 0.5rem;
  }
  
  &__title {
    p {
      text-transform: uppercase;
      padding: rem(48) 0 rem(24);
    }
  }

  ul {
    li {
      padding-bottom: rem(24)
    }
  }

  a {
    color: white;
  }
}

.dropdown {
  &__content {
    float: left;
    margin-right: 7.5%;

    pre {
      @extend h4;
      line-height: 0.75rem;
    }

    @include large-and-up {
      margin-right: 11.4%;
    }

    &:last-child {
      margin: 0;
    }

    h4 {
      padding-bottom: rem(24);
    }
  }
}

.dropdown-nav {
  &__item {
    span {
      display: block;
      clear: both;
    }
  }
}