#video-bg {
  width: 100%;
  overflow: hidden !important;
}

.video-overlay {
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  max-height: rem(24);

  img {
    max-height: rem(24);
  }

  &--nl {
    bottom: rem(-3);
    top: auto;
  }
}

#subvideo {
  width: 100%;
  object-fit: cover;
  //display: none;
}

video, #video-bg {
  height:100%;
}

.hero {
  position: relative;
  height: 100%;
  max-height: rem(600);
  display: flex;
  align-items: center;

  &--portal {
    max-height: rem(768);
  }

  &__module{
    position: relative;
    z-index: 1;
  }
  
  button {
    margin-right: rem(20);
  }
}

.headline__content {
  h1 {
    max-width: 45rem;
    padding-bottom: rem(72);
  }

  &--nl {
    h1 {
      padding-bottom: 0;
      text-align: center;
      max-width: none;
    }
  } 
}




#outer__mover {
  perspective: 25px;
}

#inner__mover {
  width: 800px;
  height: 600px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}


.carousel {
  //perspective: 1500rem;
  text-align: center;
  
  &__dots {
    list-style-type: none;
    text-align: center;
    width: 25rem;
    float: left;
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  
  &__dot {
    font-size: 3rem;
    display: inline-block;
    padding: 0 1rem;
    cursor: pointer;
    color: #CCC;
    
    &--active {
      color: #000;
    }
  }
  
  &__dot-input {
    display: none;
  }
  
  &__slider {
    position: relative;
    transform-style: preserve-3d;
    height: 400px;
  }
  
  &__slide {
    ///$translate-amount: 40rem;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    backface-visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .25s, .25s;
    transition-timing-function: ease-out;
    
    &--shown {
      visibility: visible;
      opacity: 1;
    }
    
    &--leaving {
      visibility: visible;
      opacity: 1;
    }
  }
}





